<div class="container">
  <h1>Product List</h1>

  <select [(ngModel)]="statusSelection" (ngModelChange)="onSelectionChange($event)">
    
      <option *ngFor="let c of statusValues" [selected]="c.status == 'Peding'" [ngValue]="c.id">{{c.status}}</option>
  </select>
  <input [(ngModel)]="nameProduct" (ngModelChange)="onTextChange($event)">

  <div class="table-container">
      <table>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Product status</th>
            <th>Product Type</th>
            <th>Creation Date</th>
          </tr>
          <tr *ngFor="let product of products$ | async">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.status}}</td>
            <td>{{product.type}}</td>
            <td>{{product.createdAt}}</td>
          </tr>
        </table>
  </div>

</div>

