/* You can add global styles to this file, and also import other style files */
thead, tbody { display: block; }

.table-container{
    height: 100vh;      
    overflow-y: auto; 
    overflow-x: hidden;  
}

.container{
    width: 1000px;
    margin: 0 auto;
    text-align: center
}